PMS/.vs/
PMS/PMS/bin/
PMS/PMS/obj/
.vs/
/CodeBE_COMP1640/CodeBE_COMP1640/bin/Debug/net7.0
/CodeBE_COMP1640/CodeBE_COMP1640/obj
/CodeBE_COMP1640/CodeBE_COMP1640.Tests/obj
/CodeBE_COMP1640/CodeBE_COMP1640.Tests/bin/Debug/net7.0
/CodeBE_COMP1640/CodeBE_COMP1640/CodeBE_COMP1640/CodeBE_COMP1640.csproj.user
bin/
obj/
obj/Debug/net7.0
obj/CodeBE_COMP1640/CodeBE_COMP1640.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net7.0/CodeBE_COMP1640/CodeBE_COMP1640.csproj.AssemblyReference.cache
obj/Debug/net7.0/CodeBE_COMP1640/CodeBE_COMP1640.assets.cache
obj/CodeBE_COMP1640/CodeBE_COMP1640.csproj.nuget.g.props
*obj
*.vsidx
